body{
	margin: 0px;
	padding:0px;	
	font-family: 'Arial';	
}
:hover,
:focus{
	outline:none;
}
.mt-10{
	margin-top: 150px;
}
/*Font-Face*/
@font-face {
	font-family: 'Arial';
	src: url('fonts/Arial.eot');
	src: url('fonts/Arial.woff') format('woff'), 
		 url('fonts/Arial.ttf') format('truetype'), 
		 url('fonts/Arial.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ArialBold';
	src: url('fonts/Arial Bold.eot');
	src: url('fonts/Arial Bold.woff') format('woff'), 
		 url('fonts/Arial Bold.ttf') format('truetype'), 
		 url('fonts/Arial Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'ArialRoundedBold';
    src: url('fonts/ArialRoundedBold.eot');
    src: url('fonts/ArialRoundedBold.eot') format('embedded-opentype'),
         url('fonts/ArialRoundedBold.woff2') format('woff2'),
         url('fonts/ArialRoundedBold.woff') format('woff'),
         url('fonts/ArialRoundedBold.ttf') format('truetype'),
         url('fonts/ArialRoundedBold.svg#ArialRoundedBold') format('svg');
}
/*Font-Face End */
/* Header */
ul#menu-top-menu {
    align-items: center;
}
.top-nav{
	background: #fff;
}
.top-nav li.top-pro-img a {
    padding: 0px !important;
    display: inline-block;
    border-radius: 50px !important;
    border: none !important;
	overflow: hidden;
}
li.top-pro-img img {
    max-width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0;
    line-height: normal;
    box-shadow: 0px 0px 4px #ccc;
	object-fit: cover;
}
nav a.logo img {
    max-width: 45px;
}
#navbarNav {
    justify-content: flex-end;
}

.navbar.search-bx{margin-left: 15px;}

.navbar.search-bx form .mr-sm-2:focus,
.navbar.search-bx form .mr-sm-2 {
    background: #fff url(./image/search-icon.jpg) no-repeat 5px center;
    background-size: 40px;
    padding: 15px 5px 15px 50px;
    height: auto;
	font-weight: bold;
    box-shadow: 0 0 11px #ccc;
    max-width: 320px;
    width: 100%;
	outline: none;
}

.top-nav ul.navbar-nav li {
    margin-right: 20px;
}

.top-nav ul.navbar-nav li a {
	color: #000;
	font-size: 16px;
	font-weight: 600;
	padding: 10px 30px;
    border: 2px solid #ff8660;
    border-radius: 20px;
}

.top-nav ul.navbar-nav li a:hover,
.top-nav ul.navbar-nav li a:focus{
	color: #fff;
    border: 2px solid #ff8660;
    background:#ff8660;
	text-decoration: none;
}

/* mid section */

.sw-bx {
    overflow: hidden;
	position: relative;
}
.sw-bx img {
    max-height: 420px;
    width: 100%;
    object-fit: cover;
	border-radius: 20px;
}
a.btn-st {
    position: absolute;
    bottom: 25px;
    top: auto;
    left: 50px;
    display: inline-block;
    background: #434546;
    padding: 10px 50px;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}
a.btn-st.gts {
    background: #f08c69;
}

.sw-bx .over-text {
    position: absolute;
    top: 0;
    bottom: auto;
    padding: 50px 30px;    
}
.sw-bx .over-text h3 {
    font-size: 20px;
    line-height: 1.3;
}

.sw-bx .over-text p{
	margin: 0px;
}

.sw-bx:hover:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.2;
    transition: all 0.2s ease;
}

.sw-bx:hover .over-text p,
.sw-bx:hover .over-text h3{
	color: #fff;
}

.sw-bx:hover a.btn-st{
	background: #f08c69;
	transition: all 0.2s ease;
}

.sw-bx:hover:before {
    content: '';
    display: block;
    width: calc(100% - 30px);
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.2;
    transition: all 0.2s ease;
    position: absolute;
}

.container-fluid.psw-sec {
    margin-top: 60px;
}
.psw-bx {
    overflow: hidden;
}

.psw-bx .over-text,
.psw-sec .over-text {
	position: relative;
    margin-top: 20px;
	padding-left: 10px;
}
.psw-bx .over-text .star-rt,
.psw-sec .over-text .star-rt {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
	line-height: 1;
    font-weight: bold;
    color: #01187a;
}

.psw-bx .over-text .star-rt span,
.psw-sec .over-text .star-rt span{
    font-size: 22px;    
    color: #777575;
	margin-left: 5px;
}
.psw-bx img {
    max-height: 320px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0 10px #ccc;
}

.psw-sec h3 {
    margin-bottom: 40px;
}

.psw-bx .over-text h3,
.psw-sec .over-text h3{
	margin-bottom: 0px;
	font-size: 16px;
	margin-left: 0px;
	font-weight: 600;
	padding-right: 65px;
	padding-bottom: 5px;
	line-height: 1.5;

}

.pro-left-sec .psw-bx .over-text h3{
    margin-bottom: 5px;
    font-size: 18px;
    padding-top: 0;
    border: none;  
}
.pro-left-sec .psw-bx .over-text h3 a{
	color: #3e3e3e;
}
.pro-left-sec .psw-bx .over-text p {
    font-size: 16px;
    font-weight: normal;
    color: #777575;
}

.psw-sec .over-text p{
	margin: 0px 0 10px 0;
}
.psw-bx .over-text img,
.psw-sec .over-text img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    object-fit: cover;
}

/* .tss {
    margin-top: 150px !important;
} */
.tss-bx img {
    width: 60px;
    height: auto;
    object-fit: contain;
}
.tss-bx {
    padding: 15px;
}
.tss h3 {
    margin-bottom: 30px;
}
.tss .tss-bx h3 {
	margin-top: 15px;
    margin-bottom: 10px;
	margin-left: 0px;
	font-size: 16px;
	font-weight: 600;
}

span.carousel-control-prev-icon,
span.carousel-control-next-icon{
	position: relative;
	background-image: none;
}

span.carousel-control-prev-icon:after {
    content: "\f104";
    font-family: FontAwesome;
    font-size: 30px;
    color: #777575;
}

span.carousel-control-next-icon:after{
	content: "\f105";
    font-family: FontAwesome;
    font-size: 30px;
    color: #777575;
}
li.top-pro-img a:hover, li.top-pro-img a:focus {
    background: transparent !important;
    border-color: transparent !important;
}
/* footer */
.footer-outer {
    border-top: 1px solid #ccc;
    padding-top: 30px;
    padding-bottom: 30px;
	background: #fff;
}

.footer-link ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-link ul li{
    margin: 0;
    padding: 0;
    list-style: none;
	margin-bottom: 5px;
}
.social-link a {
    padding: 0px 10px;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 5px;
	color: #767676;
	cursor: pointer;
}
.social-link a:hover,
.social-link a:focus {
    outline: none;
    color: #ff8f6b;
}

.footer-link ul li a {
    color: #a9a8a9;
    text-decoration: none;
	font-size: 14px;
	margin-left: 10px;
	transition: all 0.2s ease;
}

.footer-link ul li a:hover,
.footer-link ul li a:focus{
	color: #000;
	outline: none;
	transition: all 0.2s ease;
}

.copy-write {
	display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 16px;
    color: #a9a8a9;
    line-height: normal;
    margin-bottom: 0;
}
.copy-write img {
    width: 25px;
    margin-right: 10px;
    height: auto;
    object-fit: contain;
	vertical-align: text-bottom;
}


/* carousel  start */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 20%;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #fce7df;
  border-radius: 50px;
  width: 16px;
  height: 16px;
  border: 2px solid #dfc9c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #dfc9c0;
}
#quote-carousel img {
	width: 100%;
    height: auto !important;
    display: flex;
    object-fit: contain !important;
    margin: 0px auto;
    max-width: 500px;
}
/* End carousel */

.carousel-item blockquote {
    border-left: none; 
    margin: 0;
}

.carousel-item blockquote img {
    margin-bottom: 10px;
}


.carousel-control-next, 
.carousel-control-prev{
	width: auto !important;
}

.text-tss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.text-tss h4 {
    font-weight: 600;
}

/* profile page */
.profile-slide.mt-10 {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.profile-slide .carousel-indicators li{
	width: 400px;
    height: 170px;
    display: flex;
	opacity: 1;
	border: 0px;
	padding: 0 0 10px 0;
}
.profile-slide .carousel-indicators li img{
	width: 100%!important;
    height: auto;
    object-fit: cover;
	border-radius:6px;
}
.profile-slide ol.carousel-indicators {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
	right: -420px;
    left: auto;
	margin: 0px;
	justify-content: flex-start;
	overflow-y: auto;
	overflow-x: hidden;
}
.profile-slide #carousel-thumb{
	max-width: calc(100% - 420px) !important;
}
.profile-slide .carousel-control-next,
.profile-slide .carousel-control-prev {
    width: 50px !important;
}
.profile-slide .carousel-item{
	padding: 0px;
}
.profile-slide .carousel-item img{
	border-radius: 6px;
	max-height: 465px;
}
/* profile page End */




/* Step-Form Styling */


.form-label-group.multi-check {
    flex-wrap: wrap;
    display: flex;
    margin: 20px auto;
    align-items: center;
    max-width: 768px;
}

.form-label-group.multi-check .destination-point {
    padding: 0px;	
    margin-right: 20px;
    margin-bottom: 20px;
    min-width: 170px;
	width: 100%;
	display: inline-block;
	cursor: pointer;
    position: relative;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	max-width: calc(24.333% - 20px);
}

.error{
	padding-left: 10px;
    font-size: 14px;
    color: #f30;
    font-weight: bold;	
}
label#dream_destination-error {
    position: absolute;
    bottom: -34px;
    padding-left: 10px;
    font-size: 14px;
    color: #f30;
    font-weight: bold;
}
label#check_out_request-error,
label#describe_yourself-error {
    position: absolute;
    max-width: 768px;
    margin: 0px auto;
    width: 100%;
    left: 0;
    right: 0;
    font-weight: 600;
    font-size: 14px;
    color: #f30;
    bottom: 0;
}
.form-step-sec textarea.error {
    border-color: #f30;
}
.destination-point input[type="radio"],
.destination-point input[type="checkbox"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.multi-check .destination-point.des-place-int input[type="text"],
.form-label-group.multi-check .destination-point .checkmark {
    width: 100%;
    text-align: center;
    padding: 15px 30px;
    height: auto;
    border-radius: 15px;
    position: relative;
    line-height: 18px;
    display: flex;
    border: 1px solid #777575;
    color: #777575;
    font-size: 18px;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: #ffffff;
	outline: none !important;
	transition: all 0.2s ease;
}
.form-label-group.multi-check .destination-point .checkmark span {
    color: #f08d82;
    margin-right: 5px;
    font-weight: 600;
	transition: all 0.2s ease;
}

.form-label-group.multi-check .destination-point .checkmark:hover,
.form-label-group.multi-check .destination-point .checkmark:focus{
	border: 1px solid #f08d6a;
}
.form-label-group.multi-check .destination-point input:checked ~ .checkmark {
	background-color: #f08d6a;
    border: 1px solid #f08d6a;
    color: #fff;
	transition: all 0.2s ease;
}

.form-label-group.multi-check .destination-point .checkmark:hover span,
.form-label-group.multi-check .destination-point .checkmark:focus span{
	color: #f08d6a;
}
.form-label-group.multi-check .destination-point input:checked ~ .checkmark span {
    color: #fff;
	transition: all 0.2s ease;
}



.form-step-sec h3 {
    font-size: 28px;
    font-weight: 600;
	margin-top: 80px;
    text-align: center;
    color: #f08d6a;
}
.profile-pic img {
    max-width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50px;
    width: 100%;
}
.steps-link{
	background: #fff;
}
.steps-link .row {
    flex-wrap: nowrap;
    flex: 0 0 100%;
}
#innerPage,
.form-step-sec {
    background: #fff url(./image/body-bg.png) repeat-y 0px 0px;
}
.step-nav {
	background: #fff;
    text-align: center;
    border-top: 1px solid #ccc;   
	transition: all 0.2s ease;
}
.step-nav ul.navbar-nav {
    margin: 0 auto;
}
.step-nav.fixed {
    position: fixed;
    top: 0;
    z-index: 999;
    background: #fff;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 6px #ccc;
    border-bottom: 1px solid #ccc;
}
p.stepTitle {
    margin: 30px 20px;
    font-size: 32px;
    font-weight: 600;
}
p.sub-content {
    max-width: 768px;
    margin: 40px auto;
    font-weight: 600;
    color: #777575;
    line-height: 1.5;
    font-size: 18px;
}

.form-step-sec textarea,
.step-details textarea:focus,
.step-details textarea {
    max-width: 768px;
    width: 100%;
    margin: 30px auto;
    display: block;
    height: 220px;
    overflow: hidden;
    overflow-y: auto;
    resize: none;
    padding: 15px;
    line-height: 1.5;
    font-size: 16px;
    border-radius: 10px;
    color: #777575;
	outline: none;
	border: 1px solid #d1d0cd;
}
.form-step-sec .place-list-sec textarea{
	height: auto;
}
.step-nav ul {
    list-style: none;
    display: inline-block;
	margin: 30px 0px;
	padding: 0px;
}
.step-nav ul li {
    list-style: none;
    display: inline-block;
	margin: 0px;
}
.step-nav ul li a{
	padding: 8px 25px !important;
	border: 2px solid #fff;
	cursor: pointer;
	font-weight: 600;
	border-radius: 15px;
	text-decoration: none;
	line-height: 1.3;
	color: #434546;
}

.step-nav .navbar-expand-sm .navbar-nav .nav-link.active,
.step-nav .navbar-expand-sm .navbar-nav .nav-link:hover,
.step-nav ul li a:hover,
.step-nav ul li a:focus{	
	border: 2px solid #f08d6a;
	cursor: pointer;	
	text-decoration: none;
	color: #f08d6a;
}
.step-btn{
	text-align: center;
	margin: 50px 0px;
}

.step-btn a {
    color: #f08c69;
    font-size: 20px;
    padding: 15px 50px;
    border: 2px solid #f08c69;
    border-radius: 15px;
    text-decoration: none;
    outline: none;
	font-weight: bold;
	transition: all 0.2s ease;	
}

.step-btn a:hover,
.step-btn a:focus{
	background: #f08c69;
	color: #fff;
	cursor: pointer;
	transition: all 0.2s ease;
}
.step-move-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
	padding-right: 50px;
}
.step-move-btn ul {
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.step-move-btn ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    padding: 0px;
}
.step-move-btn ul li a {
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    text-transform: capitalize;
    color: #000;
	position: relative;
    font-weight: bold;
    text-decoration: none;
	transition: all 0.2s ease;
}
.step-move-btn ul li a:hover,
.step-move-btn ul li a:focus {
    color: #f08d6a;    
    transition: all 0.2s ease;
}
.step-move-btn ul li:first-child a:before {
    content: '\f060';
    font-family: FontAwesome;
    margin-right: 10px;
	transition: all 0.2s ease;
}

.step-move-btn ul li:first-child:hover a:before {
	margin-right: 14px;
	transition: all 0.2s ease;
}
.step-move-btn ul li:last-child a:after {
    content: '\f061';
    font-family: FontAwesome;
    margin-left: 10px;
	position: absolute;
	transition: all 0.2s ease;
}
.step-move-btn ul li:last-child:hover a:after {
	margin-left: 14px;
	transition: all 0.2s ease;
}
.count-sec {
    margin: 30px 0 0 0;
    display: block;
    text-align: center;
}
.count-sec input[type="text"] {
	max-width: 120px;
	width: 100%;
    margin: 0px 10px;
    height: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.count-sec span {
    padding: 0px 5px;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
	color: #f08d6a;
	cursor: pointer;
}
.locatin-map {
    text-align: center;
}
.locatin-map iframe {
    width: 100%;
    max-width: 1024px;
    height: 500px;
}
.st-two .form-label-group.multi-check {
    max-width: 1024px;
}
.st-two .form-label-group.multi-check .destination-point {   
    min-width: 230px;   
    margin: 10px;
}
.st-two .form-label-group.multi-check .destination-point {
    width: 100%;
    margin: 10px;
    max-width: calc(50% - 30px);
}
.st-two .form-label-group.multi-check .destination-point .checkmark{
	font-size: 15px;
}

/* Step-Form Styling End */



/* profile- listing */
.pro-mid-sec .pro-left-sec {
    padding: 0px 40px;
}

.pro-mid-sec h3 {
	font-size: 24px;
    color: #373737;
    margin: 25px 0px;
    font-weight: 600;
	border-top: 1px solid #ccc;
    padding-top: 25px;
}
.our-space-sec h3 {
    border: none;
}
.pro-mid-sec p {
    font-size: 14px;
    font-weight: 600;
    color: #777575;
}
.pro-nav-list {
    padding: 20px 150px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 30px;
}
.pro-nav-list ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.pro-nav-list ul li{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.pro-nav-list ul li a {   
    display: inline-block;
	text-decoration: none;
    margin: 0 25px;
    padding: 0;
	color: #777575;
	font-size: 18px;
	font-weight: 600;
}
.pro-nav-list ul li a:focus{
	outline: none;
}
.profile-img img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50px;
}
a.link-btn {
    font-size: 18px;
    font-weight: 600;
    color: #777575;    
    margin: 25px 0px;
    display: inline-block;
    text-decoration: none;
}
a.link-btn:before {
    content: "\f067";
    font-family: FontAwesome;
    color: #68b8b8;
    margin-right: 10px;
    font-size: 16px;
}
.location-mp iframe {
    width: 100%;
    height: 450px;
}
.pro-details-sec ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.pro-details-sec ul li {
	list-style: none;
    display: inline-block;
    margin: 0 30px 0 0;
    padding: 0;
    font-size: 16px;
    color: #777575;
}
.pro-details-sec ul li:before {
	content: "\f041";
    font-family: FontAwesome;
    color: #68b8b8;
    font-size: 22px;
    margin-right: 10px;
}
.pro-mid-amenities ul {
    list-style: none;
    margin: 0;
    padding: 0;    
	columns: 3;
}
.pro-mid-amenities ul li{
    list-style: none;
    margin: 0 0 15px 0;
	font-size: 14px;
    padding: 10px 0px 10px 40px;
	break-inside: avoid;
}
.pro-mid-amenities ul li img {
    width: 34px;
    height: auto;
    object-fit: contain;
    margin-right: 10px;
}
.review-st {
    margin: 25px 0px;
	font-size: 24px;
}
.review-st .fa {
    font-size: 24px;
    color: #388288;
    margin-right: 10px;
}
.review-st span{
	font-weight: 600;
}
.review-comment {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
	margin-bottom: 15px;
}
.review-comment .profile-img {
    margin-right: 20px;
}
.review-comment .profile-info p {
    margin: 0px;
}
.pro-details-sec h4 {
    font-size: 18px;
    font-weight: 600;
    color: #777575;
    margin: 10px 0;
}
.review-comment .profile-img img {
    max-width: 60px;
    height: 60px;
    object-fit: cover;
}
.pro-mid-review .row {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin: 15px 0;
}
.pro-mid-review .row:last-child {
    border: none;
}
.comment-text p {
    font-weight: normal;
}
.pro-mid-thing ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
.pro-mid-thing ul li {
    margin: 10px 0;
}
.pro-mid-review nav {
    display: flex;
    justify-content: center;
}
.pro-mid-review nav .page-item .page-link {
    border-radius: 50px;
    margin-right: 15px;
    background: #fff;
    color: #388288;
    border: none;
    width: 40px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    height: 40px;
	outline: none;
}
.pro-mid-review .page-item:last-child .page-link,
.pro-mid-review .page-item:first-child .page-link,
.pro-mid-review nav .page-item.active .page-link{
	background: #388288;
	color: #fff;
}
.pro-nav-list ul li a img {
    width: 50px;
    height: auto;
    margin-right: 20px;
	vertical-align: bottom;
}
.pro-nav-list ul li:last-child a img{
	width: 35px;
}

.calendar-dgn ul,
.our-availability-sec ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.calendar-dgn ul{
	text-align: center;
	display: block !important;
}
.calendar-dgn ul li,
.our-availability-sec ul li{
    list-style: none;
    display: inline-block;
    padding: 0 0px 0 50px;
    margin: 0 35px 0 0;
    font-size: 16px;
    font-weight: 600;
	line-height: 34px;
    color: #777575;
	position: relative;
}
ul li.rd-swap:before,
.calendar-dgn ul li.rd-swap:before{
    content: '';
    display: inline-block;
    width: 35px;
    height: 30px;
    background: #68b8b8;
    border-radius: 5px;
    position: absolute;
	left: 0;
}
ul li.op-swap:before,
.calendar-dgn ul li.op-swap:before{
	content: '';
    background: #ececeb;
    display: inline-block;
    width: 35px;
    height: 30px;
    border-radius: 5px;
    position: absolute;
	left: 0;
}
ul li.sn-available:before,
.calendar-dgn ul li.sn-available:before {
	content: '';
    background: #f9c1bd;
    display: inline-block;
    width: 35px;
    height: 30px;
    border-radius: 5px;
    position: absolute;
	left: 0;
}
span.prev_mn,
span.next_mn {
    padding: 0px 15px;
    background: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #ccc;
    color: #fff;
	border-radius: 2px;
    cursor: pointer;
}
span.prev_mn {
    right: auto !important;
    left: 0 !important;
}
span.next_mn:after {
    content: "\f178";
    font-family: 'FontAwesome';
    color: #ccc;
    position: absolute;
    right: 10px;
    font-weight: normal;
}
span.prev_mn:after {
    content: "\f177";
    font-family: 'FontAwesome';
    color: #ccc;
    position: absolute;
    left: 10px;
    font-weight: normal;
}
span.prev_mn:hover, span.next_mn:hover {
    border-color: #ff8761;
}
span.prev_mn:hover:after, span.next_mn:hover:after {
    color: #ff8761;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next{
	position: absolute;
    top: 30%;
    right: -24px;
    transform: translateY(-50%);
    bottom: auto;
    z-index: 999;
    font-size: 44px;
    color: #9c9c9c;
	outline: none;
}
.owl-carousel .owl-nav button.owl-prev{	
    left: -24px;
	right: auto;
}
.review-progress-sec {
    background: #ffffff;
    border: 1px solid #d8d0d0;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px #ccc;
}
/* profile- listing End */


/* loader styling */
.lds-roller {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-outer {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    overflow: hidden;
}
/* loader styling End */


/* Upload Image Styling */
.upload-img-bx {
    max-width: 1024px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
	align-items: center;
}
.imageThumb {
    border: 0;
    padding: 1px;
    cursor: pointer;
    width: 100%;
    max-height: 150px;
	height: 100vh;
	object-fit: cover;
    border-radius: 6px;
}
.pip {
	display: inline-block;
    margin: 10px 10px 10px 0;
    position: relative;
    left: 0;
    max-width: calc(33.3333% - 20px);
    width: 100%;
    order: 1;
}
.remove {
	display: block;
    background: #f08d6a;
    color: white;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}
.remove:hover {
  background: white;
  color: black;
}


/* ===================== FILE INPUT ===================== */
.file-area {
	width: 100%;
    position: relative;
    order: 2;
    max-width: calc(33.333% - 20px);
}
.file-area input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;  
  cursor: pointer;
}
.file-area .file-dummy {
	width: 100%;
    padding: 60px 50px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px dashed #f08d6a;
    text-align: center;
    transition: background 0.3s ease-in-out;
    color: #f08c69;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;	
	outline: 0px !important;
}
.file-area .file-dummy:focus{
	outline: none;
}
.file-area .file-dummy .success {
  display: none;
}
.file-area:hover .file-dummy {
  background: rgba(255, 255, 255, 0.1);
}
.file-area input[type=file]:focus + .file-dummy {
/*   outline: 2px solid rgba(255, 255, 255, 0.5);
  outline: -webkit-focus-ring-color auto 5px; */
}
.file-area input[type=file]:valid + .file-dummy {
/*   border-color: rgba(0, 255, 0, 0.4);
  background-color: rgba(0, 255, 0, 0.3); */
}
.file-area input[type=file]:valid + .file-dummy .success {
  display: inline-block;
}
.file-area input[type=file]:valid + .file-dummy .default {
  display: none;
}
/* Upload Image Styling End */


/* Calendar Styling */
.calendar {
    margin-top: 40px;
}
.jqyc-year-chooser {
    border: none !important;
}
.jqyc-year.col {
    font-weight: bold;
    font-size: 26px;
}
.jqyc-change-year {
    background: transparent;
    border: 1px solid #bfbebe;
    color: #bfbebe;
}
.btn-primary.jqyc-change-year:not(:disabled):not(.disabled):active,
.jqyc-change-year:hover, 
.jqyc-change-year:focus {
    background: #f19676;
    border-color: #f19676;
    color: #fff;
}
h5.jqyc-header {
    font-size: 18px;
    font-weight: bold;
	margin-bottom: 15px;
	text-align: center;	
}
.jqyc-months .table td {
    background: #eff6f4;
    margin: 0px 5px;
    border: 2px solid #FFF;
    font-size: 16px;
    border-radius: 10px;
    color: #447e80;
}
.jqyc-months .table td:empty {
    visibility: hidden;
}
.jqyc-months .table th {
    border: none;
    font-weight: normal;
    color: #a2a2a2;
    padding-bottom: 10px;
}
.jqyc-month {
    height: auto !important;
}
.jqyc-range-choosen-between {
    background-color: #f9c1bd !important;
    color: #FFF;
    border-radius: 4px;
    border: 2px solid #fff;
	transition: all 0.2s ease;
}
.jqyc-not-empty-td:hover{
	background-color: #f9c1bd !important;
	transition: all 0.2s ease;
	color: #fff !important;
}
/* Calendar Styling End */

/* Calendar New Styling */
.calendar table.main {
	width: 100%; 
}
.calendar table.main td {
	vertical-align: top;
	font-size: 14px;
	padding: 10px;
}
.calendar table.main th {
	padding: 5px 0px;
    color: #808080;
    text-align: center;
    font-weight: normal;
}
.calendar table.main a{
	text-decoration: none;
    background: #eff6f4;
    padding: 10px;
	color: #3b8387;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
	cursor: pointer;
	transition: all 0.2s ease;
	border-radius: 8px;
}
.calendar table.main a:hover,
.calendar table.main a:focus{
	color: #5e5e5e;
	background: #ececeb;
	transition: all 0.2s ease;
	outline: none;
}
.calendar table.main td[bgcolor="#ffff00"] {
    visibility: hidden;
}
.calendar table.main td .main td {
    padding: 3px;
	position: relative;
}
.calendar table.main td .main td[colspan="8"] {
    padding: 20px 0px;
    font-size: 20px;
    font-weight: bold;
	text-align: center;
}
.calendar table.main a.swap_date {
    background: #68b8b8;
    color: #fff;
}
.calendar table.main a.not_avlable {
    background: #f9c1bd;
    color: #be8d89;
    cursor: not-allowed;
}
.calendar-dgn ul li input[type="radio"] {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 0px;
}
.calendar-dgn ul li label:hover{
	cursor: pointer;
}
.calendar table.main a.unavilable_action {
    background: transparent;
    display: inline-block;
    margin: 10px 0px;
    border: 2px solid #f08d6a;
    color: #212529;
    transition: all 0.2s ease;
    border-radius: 50px;
}
.calendar table.main a.unavilable_action:hover,
.calendar table.main a.unavilable_action:focus {
    background: #f08d6a;
    color: #fff;
	transition: all 0.2s ease;
}
/* Calendar New Styling End */


/* Check in form */
.check-in-frm {
    max-width: 70%;
    padding-left: 0px;
}
.check-in-frm img{
	width: 100%;
	object-fit: cover;
}
.pro-right-sec{
	border-left: 1px solid #dedede;
    padding-left: 0px;
}
.check-in-frm form {
    padding: 15px;
    border: 1px solid #e2e1e1;
}
p.report-flag {
    margin: 20px 0px;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
}
p.report-flag i {
    margin-right: 5px;
}
p.report-flag a {
    color: #777575;
    text-decoration: none;
}
p.report-flag a:hover,
p.report-flag a:focus {
    color: #f08d6a;
    text-decoration: none;
}
.check-in-frm .input-group-addon {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 100;
    color: #a2a2a2;
}
.check-in-frm button.btn.btn-primary,
.check-in-frm button.btn.btn-primary:hover,
.check-in-frm button.btn.btn-primary:focus{
	background: #f08d6a;
    border-color: #f08d6a;
    min-width: 200px;
    margin: 0px auto;
    display: block;
    width: 100%;
    padding: 10px 0px;
    font-size: 18px;
}
.check-in-frm input[type="text"] {
    border: none;
    font-size: 20px;
    font-weight: 200;
    text-transform: capitalize;
}
.check-in-frm input[type="text"]:focus{
	outline: none;
	box-shadow: none;
}
.check-in-frm label {
    display: block !important;
    width: 100%;
    font-weight: bold;
    font-size: 13px;
	color: #757575;
    margin-bottom: 4px;
    margin-top: 10px;
	padding-left: 10px;
}
.check-in-frm select {
    width: 100%;
    padding: 15px 10px;
    color: #757575;
    border: 1px solid #dadada;
    outline: none;
	-webkit-appearance: none;
    position: relative;
    padding-right: 40px;
}
.check-in-frm .select-bx{
	position: relative;
	max-width: calc(100% - 20px);
	margin: 0px auto;
}
.check-in-frm .select-bx:after {
    content: "\f078";
    font-family: FontAwesome;
    position: absolute;
    top: 15px;
    font-size: 18px;
    color: #484848;
	opacity: 0.8;
    right: 15px;
    display: block;
    width: 20px;
    height: 20px;
    z-index: 9999999;
}
.check-in-frm form p {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    padding: 10px 0px;
    margin: 30px 0 0 0;
    border-top: 1px solid #ccc;
}
/* Check in form End */

.hm-step {
    background: #fce7df;
    border-radius: 100px;
    max-width: calc(100% - 60px);
    margin: 50px auto;
}
.hm-step h3{
	padding: 100px 0px 0px 100px;
	color: #373737;
	font-weight: 600;
}

/* New Home page */
.container-fluid.outer-bg {
    background: transparent url(./image/bg-img-scaled.jpg) no-repeat center center;
	background-size: cover;
    height: 100vh;
    padding: 150px 0px;
	color: #fff;
}
.outer-bg h3 {
    color: #fff;
}
.outer-bg .sw-bx img{
	display: none;
}
.outer-bg .sw-bx .over-text{
	position: static;
    text-align: center;
    border: 2px solid #fff;
    padding: 50px 30px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.4);
}
.outer-bg .sw-bx a.btn-st{
	display: none;
}
.outer-bg .sw-bx:hover:before{
	display: none;
}
.sw-bx{
	margin-top: 80px;
}
/* New Home page End */
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.multi-check .destination-point.des-place-int input[type="text"].orange-bg {
    background: #f08d6a;
    border-color: #f08d6a;
    color: #fff;
}

.multi-check .destination-point.des-place-int input[type="text"].orange-bg::placeholder{
		color: #fff;
}

/* msg page styling */
.pro-msg-sec .pro-right-sec{
	padding-left: 15px;
}
.pro-msg-sec .pro-left-sec{
	padding: 0px 40px 0px 15px;
}
.row.pro-name{
    margin: 0px -40px 30px 0;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
	}
.row.pro-name h4,
.row.pro-name span {
	display: inline-block;
    margin-left: 4px;
    line-height: 1.2;
    font-size: 1.5rem;
    font-weight: 600;
}
.profile-view {
    max-width: 360px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 25px;
}
.row.user-img {
    margin: 0px;
	flex-wrap: nowrap;
}
.user-ver-list {
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.p-img img {
	max-width: 80px;
	height: 80px;
    object-fit: cover;
    border-radius: 50px;
}

.profile-view ul,
.profile-view .user-ver-list ul {
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.profile-view .user-ver-list ul li{
    display: inline-block;
    list-style: none;
	margin: 0px 5px;
    padding: 0px;
	position: relative;
    font-size: 14px;
}
.profile-view .user-ver-list ul li:first-child:after {
    content: "|";
    position: absolute;
    right: -8px;
    font-size: 14px;
    top: -3px;
}

.profile-view ul li{
	list-style: none;
    margin: 25px 0px;
    padding: 0px;
}
.profile-view ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #000;
	transition: all 0.2s ease;
}
.profile-view ul li a:hover,
.profile-view ul li a:focus {
    text-decoration: none;
	cursor: pointer;
    color:#ff8660;
	transition: all 0.2s ease;
}
.row.msg-rw {
    flex-wrap: nowrap;
	margin: 40px 0px;
}
.msg-profile {
    width: auto;
}
.write-msg-bx {
	text-align: right;
    background: #edefed;
    padding: 0px;
    margin: 0px 15px 25px;
    max-width: calc(83% - 30px);
    border: 1px solid #bbbdbb;
	position: relative;
}
.write-msg-bx:after {
	content: "";
    position: absolute;
    width: 0px;
    height: 41px;
    display: block;
    background: #edefed;
    top: -6px;
    right: -15px;
    border-right: 1px solid #bbbdbb;
    transform: rotate(45deg);	
}

.write-msg-bx:before {
	content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: white;
    display: block;
    top: -1px;
    right: -30px;
    border-top: 1px solid #bbbdbb;
}
.write-msg-bx textarea {
    /* width: 100%;
    padding: 15px;
    font-size: 14px;
    resize: none;
    height: 150px;
    overflow: hidden;
	border: none;
	outline: none;
    overflow-y: auto; */
	width: 100%;
    padding: 15px;
    font-size: 14px;
    min-height: 150px;
    overflow: hidden;
    border: none;
    outline: none;
	color: #000;
    font-weight: normal;
    font-family: 'Arial';
}
.write-msg-bx button.btn.sub-btn {
	padding: 8px 30px;
    border-radius: 4px;
    margin: 15px 30px;
    color: #ababab;
    transition: all 0.2s ease;
    border: 1px solid #ababab;
    font-size: 12px;
}
.write-msg-bx button.btn.sub-btn:hover,
.write-msg-bx button.btn.sub-btn:focus{
    background: #ff8660;
	border-color: #ff8660;
	color: #fff;
	outline: none;
}
.msg-profile .p-img img {
    max-width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50px;
}

.row.msg-rw.reply-msg-bx p,
.row.msg-rw.show-msg p {
    text-align: left;
    font-size: 13px;
    padding: 25px 20px;
    color: #494949;
    line-height: 1.8;
}

.show-msg .write-msg-bx:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: #edefed;
    display: block;
    top: -1px;
    right: -30px;
    border-top: 1px solid #bbbdbb;
}

.show-msg .write-msg-bx:after {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    display: block;
    background: #ffffff;
    top: 8px;
    right: -50px;
    border-left: 1px solid #bbbdbb;
	border-right: none;
    transform: rotate(45deg);
}
.msg-rw.reply-msg-bx .write-msg-bx {
    background: #fff;
}
.msg-rw.reply-msg-bx .write-msg-bx:before {
    content: "";
    right: auto;
    left: -30px;
}
.msg-rw.reply-msg-bx .write-msg-bx:after {
    content: "";
    right: auto;
    transform: rotate(-45deg);
    left: -15px;
}
.msg-rw.reply-msg-bx .write-msg-bx i.fa {
	padding: 10px;
    position: absolute;
    right: 0;
}
.hr-content {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    margin: 10px 0px;
	position: relative;
}
.hr-content:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #b5b5b5;
    display: block;
    position: absolute;
    top: 50%;
	z-index: -1;
}
.hr-content span {
    background: #fff;
    padding: 0px 10px;
}
.hr-content span i{
	margin-right: 6px;
}
p.tips {
    font-size: 14px;
    line-height: 1.5;
    color: #9c9c9c;
    margin: 20px;
	text-align: center;
}
p.tips a{
    font-size: 14px;
	font-weight: 600;
    color: #737373;
	text-decoration: underline;
	transition: all 0.2s ease;	
}
p.tips a:hover,
p.tips a:focus{
    color: #ff8660;
	text-decoration: none;
	transition: all 0.2s ease;
}
/* msg page styling End */

/* upload profile styling */
.add-profile-img {
    position: relative;
    margin: 0px auto;
	border-radius: 50%;
	overflow: hidden;
}
.add-profile-img .upload{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

.add-profile-img .uploaded_img,
.add-profile-img input.upload + label {
    padding: 60px 50px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px dashed #9e9aa5;
    text-align: center;
    transition: background 0.3s ease-in-out;
    color: #9e9a99;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
    outline: 0px !important;
    height: 280px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-profile-img .uploaded_img{
	padding: 0px;
    border: none;
    position: absolute;
	object-fit: cover;
}
/* upload profile styling End */

/* search result page styling */
.search-mid-sec .pro-right-sec,
.search-mid-sec .pro-left-sec {
    padding: 0px 15px;
}
.search-mid-sec .row.result-rw {
    padding: 15px 0px;
    border-top: 1px solid #e6e6e6;
    margin: 20px 0px;
    border-bottom: 1px solid #e6e6e6;
}
.search-mid-sec .carousel-inner {
    height: 180px;
    border-radius: 6px;
}
.search-mid-sec .step-nav ul.navbar-nav {
    margin: 0;
}
.search-mid-sec .carousel-control-next,
.search-mid-sec .carousel-control-prev{
	opacity: 1;
	
}
.search-mid-sec span.carousel-control-prev-icon:after,
.search-mid-sec span.carousel-control-next-icon:after{
	color: #fff;
}
.search-mid-sec .carousel-item img {
	height: 180px;
    max-height: 180px;
    object-fit: cover;
    width: auto;
}
.search-mid-sec .carousel-indicators li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
}
.search-mid-sec .carousel-indicators{
	margin-bottom: 0px;
}
.search-content h3 a {
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	margin: 25px 0px 10px 0px;
	color: #000;
}
.search-content ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
	width: 100%;
	max-width: calc(100% - 30%);
}
.search-mid-sec .step-nav ul li a {
    padding: 8px 25px !important;
    border: 2px solid #adadad;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50px;
    text-decoration: none;
    line-height: 1.3;
    color: #525252;
    font-size: 14px;
}
.search-content ul li {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    font-size: 12px;
    color: #afafaf;
    line-height: 1.2;
}
.seach-profile-img {
    text-align: right;
    margin: 0px;
}
.seach-profile-img i {
    color: #92184f;
    font-size: 18px;
	margin: 4px;
}
.seach-profile-img p {
    margin-right: 7px;
    margin-top: 5px;
	font-size: 16px;
	font-weight: 600;
    margin-bottom: 0px;
}
.result-counter{
	padding: 40px;
}
.result-counter h1 {
    font-size: 24px;
}
.result-counter h2{
	font-size: 14px;
    font-weight: bold;
	color: #ea0303;
}
.seach-profile-img img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
/* search result page styling end */

/* for pagination st */
.pagination-sec {
    display: flex;
    justify-content: center;
}
.pagination-sec .page-link {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-left: 15px;
    line-height: 1.25;
	border-radius: 50%;
    color: #398288;
	transition: all 0.2s ease;
    border: none;
    background-color: transparent;
}
.pagination-sec .page-link:hover,
.pagination-sec .page-link:focus{
	background-color: #e9ecef;
	transition: all 0.2s ease;
}
.pagination-sec .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #398288;
    border-color: #398288;
}
.pagination-sec .page-link[aria-label="Previous"],
.pagination-sec .page-link[aria-label="Next"] {
    background: #398288;
    border-radius: 50% !important;
    color: #fff;
}
/* for pagination st end */



/* amenities icon list styling */
.m-home-icon {
    background: url(./image/am-icon-1.png)no-repeat 0px 0px;
    background-size: contain;
}
.swimming-pool-icon {
    background: url(./image/am-icon-2.png)no-repeat 0px 0px;
    background-size: contain;
}
.cable-tv-icon {
    background: url(./image/am-icon-3.png)no-repeat 0px 0px;
    background-size: contain;
}
.wheelchair-friendly-icon {
    background: url(./image/am-icon-4.png)no-repeat 0px 0px;
    background-size: contain;
}
.garden-icon {
    background: url(./image/am-icon-5.png)no-repeat 0px 0px;
    background-size: contain;
}
.dishwasher-icon {
    background: url(./image/am-icon-6.png)no-repeat 0px 0px;
    background-size: contain;
}
.air-conditioning-icon {
    background: url(./image/am-icon-7.png)no-repeat 0px 0px;
    background-size: contain;
}
.car-available-icon {
    background: url(./image/am-icon-8.png)no-repeat 0px 0px;
    background-size: contain;
}
.balcony-icon {
    background: url(./image/am-icon-9.png)no-repeat 0px 0px;
    background-size: contain;
}
.wifi-icon {
    background: url(./image/am-icon-10.png)no-repeat 0px 0px;
    background-size: contain;
}
.washing-machine-icon {
    background: url(./image/am-icon-11.png)no-repeat 0px 0px;
    background-size: contain;
}
.parking-icon {
    background: url(./image/am-icon-12.png)no-repeat 0px 0px;
    background-size: contain;
}


.iron-icon {
    background: url(./image/am-icon-19.png)no-repeat 0px 0px;
    background-size: contain;
}
.air-conditioning-ph-icon{
	background: url(./image/am-icon-13.png)no-repeat 0px 0px;
    background-size: contain;
}
.bed-icon{
	background: url(./image/am-icon-14.png)no-repeat 0px 0px;
    background-size: contain;
}
.breakfast-icon{
	background: url(./image/am-icon-15.png)no-repeat 0px 0px;
    background-size: contain;
}
.coffee-and-tea-icon{
	background: url(./image/am-icon-16.png)no-repeat 0px 0px;
    background-size: contain;
}
.desk-and-workspace-icon{
	background: url(./image/am-icon-17.png)no-repeat 0px 0px;
    background-size: contain;
}
.hair-dryer-icon{
	background: url(./image/am-icon-18.png)no-repeat 0px 0px;
    background-size: contain;
}
.laundry-icon{
	background: url(./image/am-icon-20.png)no-repeat 0px 0px;
    background-size: contain;}
.pool-gym-icon{
	background: url(./image/am-icon-21.png)no-repeat 0px 0px;
    background-size: contain;
}
.private-entrance-icon{
	background: url(./image/am-icon-22.png)no-repeat 0px 0px;
    background-size: contain;
}
.shampoo-icon{
	background: url(./image/am-icon-23.png)no-repeat 0px 0px;
    background-size: contain;}
.tv-icon{
	background: url(./image/am-icon-24.png)no-repeat 0px 0px;
    background-size: contain;}
.wheelchair-chair-icon{
	background: url(./image/am-icon-25.png)no-repeat 0px 0px;
    background-size: contain;
}
.heating-icon{
	background: url(./image/am-icon-26.png)no-repeat 0px 0px;
    background-size: contain;
}
.kitchen-icon{
	background: url(./image/am-icon-27.png)no-repeat 0px 0px;
    background-size: contain;
}
/* amenities icon list styling end */


/* msg-listing style */
.row.list-ms-rw {
	border-bottom: 1px solid #ccc;
    padding: 0px 0px 20px 0px;
    align-items: center;
    max-width: 100%;
    margin: 0px 0px 30px 0px;
}
ul.msg-listing {
    margin: 0px;
    list-style: none;
    display: flex;

}
ul.msg-listing li {
    display: inline-block;
    margin: 0px 20px;
}
ul.msg-listing .p-img img {
    max-width: 60px;
    height: 60px;
    object-fit: cover;
}
h4.log-name {
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
	margin: 0px;
    overflow: hidden;
    color: #717171;
}
span.log-date {
    color: #717171;
    font-size: 14px;
    margin: 0px;
}
li.log-msg p {
    margin: 0px;
    font-size: 14px;
    color: #717171;
    line-height: 1.3;
    font-weight: normal;
}

#message_sent_success .modal-content {
    padding: 50px 0;
}
#message_sent_success .modal-body {
    text-align: center;
    font-size: 18px;
    color: #4e4e4e;
    font-weight: normal;
}

span.close_pop_up {
    background: #ff8660;
    display: inline-block;
    width: 100%;
    max-width: 135px;
    text-align: center;
    margin: 10px auto;
    padding: 8px 0px;
    text-transform: uppercase;
	cursor: pointer;
    color: #fff;
    border-radius: 50px;
}
/* msg-listing style end */


/* New gallery styling */
#content{
	width: 100%;
    height: 1000px;
    margin: 0px auto;
    border-radius: 3px;
    position: relative;
    display: flex;
}

#gallery_img{
	width: 100%;
    height: 100%;
	max-height: 500px;
    position: relative;
    max-width: calc(100% - 20%);
}

#lefty{
	width:23px;
	position:absolute;
	top:235px;
	left:10px;
	cursor: pointer;
}

#righty{
	width:23px;
	position:absolute;
	top:235px;
	right:10px;
	cursor: pointer;
}

#play, #pause{
	width:12px;
	position:absolute;
	top:239px;
	right:40px;
	cursor: pointer;
}

#play{
	display:none;
}

#expand{
	width: 18px;
    position: absolute;
    top: auto;
    right: 15px;
    bottom: 15px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

#thumbs{
	height: 500px;
    width: 20%;
    white-space: nowrap;
    position: absolute;
    top: 0px;
    display: flex;
	align-items: center;
    flex-direction: column;
    right: 0px;
    left: auto;
}

.thumbs_style{
	height: auto;
    display: block;
    width: 100%;
	cursor: pointer;
    max-width: calc(100% - 10px);
}

.thumbs_style img{
	width: 100%;
    height: auto;
	max-height: 150px;
    border-radius: 20px;
    border: none !important;
}

.gallery_img_style{
	width: 100%;
    height: 500px;
    border-radius: 20px;
    position: absolute;
}

/* gallery Media */

@media (max-width: 990px){
	#content{
		display: block;
	}
	#gallery_img {
		    max-width: 100%;
	}
	#thumbs {		
		overflow: auto;
		margin-top: 10px;
		height: 160px;
		width: 100%;
		white-space: nowrap;
		position: static;
		top: 0px;
		display: inline-block;
	}
	.thumbs_style {
		display: inline-block;
		max-width: calc(33% - 10px);
	}
}
/* New gallery styling end */

/* scroll styling */
.carousel-indicators::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 20px;
}

.carousel-indicators::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f5f5f5;
}

.carousel-indicators::-webkit-scrollbar-thumb {
/*   background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(73, 121, 171)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(73, 121, 171))
  ); */
  background-color: #ff8660;
  border-radius: 10px;
}
/* scroll styling end */

input#pac-input {
    top: 10px !important;
    padding: 13px;
    width: 200px;
    border: 1px solid #d4d4d4;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    font-size: 12px;
    color: #3e3e3e;
    border-radius: 2px;
}
input#pac-input:focus{
	border-color: #f08d6a;
}


/* MEDIA QUERIES START HERE */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

@media (max-width: 1390px){
	.profile-slide .carousel-indicators li{
		max-width: 320px;
		width: 315px;
		max-height: 170px;
	}
	.pro-mid-amenities ul li{
		font-size: 13px;
	}
	.calendar-dgn ul li, .our-availability-sec ul li{
		margin: 0 15px 0 0;
		font-size: 12px;
	}
	.profile-slide #carousel-thumb {
		max-width: calc(100% - 330px) !important;
	}
	.profile-slide ol.carousel-indicators{
		right: -330px;
	}
	.remove {
		padding: 4px 10px;
		border-radius: 5px;
		font-size: 12px;
		font-weight: normal;
	}
	.navbar.search-bx {
		margin-left: 15px;
		max-width: 410px;
		width: 100%;
	}
	.navbar.search-bx form{
		width: 100%;
	}
	
}
@media (max-width: 1190px){
	.top-nav ul.navbar-nav li a{
		font-size: 12px;		
		padding: 6px 10px;
	}
}
/* Small devices (tablets, up to 768px) */

@media (max-width: 990px){
	.navbar-toggler:focus, .navbar-toggler:hover{    
		outline: none;
	}
	.top-nav ul.navbar-nav li{
		width: 100%;
		margin: 10px;
	}
	.navbar-toggler-icon:after {
		content: "\f0c9";
		font-family: FontAwesome;
		font-size: 28px;
		font-weight: normal;
		color: #ff8660;
	}
	.pro-nav-list ul li a{
		font-size: 14px;
	}
	.mt-10 {
		margin-top: 50px;
	}
	.container-fluid.psw-sec {
		margin-top: 50px;
	}
	.psw-bx,
	.sw-bx{
		margin: 10px 0px;
	}
	.tss-bx {
		padding: 20px;
	}
	.top-nav ul.navbar-nav {
		padding: 10px;
		border: 1px solid #d8d8d8;
		box-shadow: 0px 0 5px #d8d8d8;
	}
	.top-nav ul.navbar-nav li a {
		color: #000;
		font-size: 16px;
		font-weight: 500;
		padding-left: 10px;
		width: 100%;
		display: block;
		text-align: center;
	}
	.profile-slide #carousel-thumb {
		max-width: 100% !important;
	}
	.profile-slide ol.carousel-indicators {
		position: relative;
		display: flex;
		flex-direction: row;
		top: 0;
		right: 0;
		left: auto;
		margin: 0px;
		overflow-x: auto;
		overflow-y: hidden;
	}
	.profile-slide .carousel-item {
		padding: 10px 0px;
		height: 320px;
	}
	.profile-slide .carousel-control-next, .profile-slide .carousel-control-prev {
		width: 50px !important;
		height: 250px;
	}
	.profile-slide .carousel-item img {
		border-radius: 15px;
		height: 100%;
		object-fit: cover;
	}
	.profile-slide .carousel-indicators li {
		width: auto;
		height: auto;
		padding-bottom: 5px;
		flex: 0 0 187px;
	}
	.owl-carousel .owl-nav button.owl-prev {
		left: 0;		
	}
	.owl-carousel .owl-nav button.owl-next{
		right: 0px;
	}
	.navbar.search-bx {
		margin-left: 0;
		width: 100%;
		max-width: 100%;
	}
	.navbar.search-bx form.form-inline,
	.navbar.search-bx form.form-inline .form-control {
		width: 100%;
		max-width: 100%;
	}
	.pro-mid-sec h3 {
		font-size: 22px;
		margin: 0px 0 20px 0;
		line-height: 1.3;
	}
	.pro-other-place .psw-bx{
		padding: 0px 20px;
	}
	.pro-other-place .psw-bx img{
		box-shadow: none;
	}
	.pro-left-sec {
		width: 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.pro-nav-list{
		padding: 20px 0px;
	}	
	.pro-right-sec{
		margin: 0px auto;
		border: none;
	}
	.check-in-frm {
		max-width: 100%;
		padding-left: 15px;
	}
	.container.fluid-full{
		max-width: 100%;
	}
}

@media (max-width: 768px) { 
    
	
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
		right: 0 !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
	.pro-left-sec {
		padding: 0px 15px;
	}
	.pro-mid-amenities ul{
		    columns: 2;
	}
	.pro-nav-list{
		padding: 0px;
	}
	.pro-mid-amenities ul li {		
		font-size: 14px;
		display: flex;
		align-items: center;
		line-height: 1.2;
	}
	.pro-mid-amenities ul li img {
		width: 30px;		
		margin-right: 5px;
	}
	.psw-sec h3,	
	.tss h3{
		font-size: 18px;
		margin-bottom: 10px;
		line-height: 1.3;
	}
	.text-tss{
		padding-left: 20px;
	}
	a.btn-st{
		padding: 5px 20px;
		font-size: 14px;
		border-radius: 10px;
		line-height: 1.3;
	}
	#quote-carousel img{
		max-width: 200px;
	}
	.step-nav ul li a{
		padding: 8px 20px !important;
		font-size: 14px;
	}
	.form-label-group.multi-check{
		flex-direction: column;
	}
	.form-label-group.multi-check .destination-point{
		max-width: 100%;
		width: 100%;
	}
}

@media (max-width: 580px){
	.step-nav ul{
		width: 100%;
	}
	.calendar-dgn ul li, 
	.our-availability-sec ul li,
	.step-nav ul li{
		display: block;
		margin: 10px 0px;
	}
	.calendar-dgn ul li{
		text-align: left;
	}
	.st-two .form-label-group.multi-check .destination-point{
		max-width: 100%;
	}
	.pip,
	.file-area{
		max-width: 100% !important;
	}
}





/*****************Inner Page css*******/
#innerPage .title{
	border-bottom: 1px solid #ccc;
	margin: 40px 0px;
    padding: 0 0 30px 0;
    font-size: 20pt;
	font-family: 'ArialRoundedBold';
}

#innerPage .innerPageContent h2{
	font-size: 22pt;
    margin: 0 0 30px 0;
    padding: 0;
    color: #FF8F6B;
	font-family: 'ArialRoundedBold';
}
#innerPage .innerPageContent h2 strong{
	color: #3e3e3e;
}
#innerPage .innerPageContent p{
	font-size: 13pt;
    color: #7f7d7a;
	margin-bottom: 55px;
}
#innerPage .innerPageContent p strong{
    color: #000;
}

.trustsafetyPage .nav {
    border: none;
    margin-bottom: 56px;
}
.trustsafetyPage .nav a {
	color:#000;
    font-weight: bold;
	border-radius: 15px;
    border: 2px solid transparent;
}

.trustsafetyPage .nav a:hover,
.trustsafetyPage .nav a:focus,
.trustsafetyPage .nav a.active {
    border: 2px solid #f08d6a;
    cursor: pointer;
    text-decoration: none;
    color: #f08d6a;
	outline: none;
}

.trustsafetyPage .nav li {
    margin: 0px 17px;
}

.trustsafetyPage .tab-content h2 {
    text-align: center;
}
.secondstep{display:none;}
.thirdstep{display:none;}